input {
    margin-bottom: 2px;
    margin-top: 2px;
}

input.ng-invalid {
    border: 2px solid #ff0000
}

.checkout {
    padding: 15px;
}

.thumbnail {
    height: 50px;
    vertical-align: top;
    width: 50px;
}