<div *ngIf="cartItems; else loadingBlock" class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-8">
            <!-- rubric47 : The user should a table displaying the product image, name, unit price,
                            quantity as an input field, total cost, and a remove button for each product in the shopping cart -->
            <div class="card bg-info">
                <div class="row">
                    <div class="col text-center">
                        <h6>Image</h6>
                    </div>
                    <div class="col">
                        <h6>Name</h6>
                    </div>
                    <div class="col">
                        <h6>Unit Price</h6>
                    </div>
                    <div class="col text-center">
                        <h6>Qty</h6>
                    </div>
                    <div class="col">
                        <h6>Cost</h6>
                    </div>
                    <div class="col text-center">
                        <h6>Remove</h6>
                    </div>
                </div>
                <div class="row" *ngFor="let cartItem of cartItems">
                    <div class="col text-center">
                        <hr />
                        <img class="thumbnail" src="{{cartItem.item.imagelink}}" alt="{{cartItem.item.name}}" />
                    </div>
                    <div class="col">
                        <hr />
                        <h6>{{cartItem.item.name}}</h6>
                    </div>
                    <div class="col">
                        <hr />
                        <h6>${{cartItem.item.price | number:'1.2-2'}}</h6>
                    </div>
                    <div class="col text-center">
                        <hr />
                        <h6>{{cartItem.quantity}}</h6>
                    </div>
                    <div class="col">
                        <hr />
                        <h6>${{cartItem.cost | number:'1.2-2'}}</h6>
                    </div>
                    <div class="col text-center">
                        <hr />
                        <!-- rubric54 : The remove button should remove an item from the shopping cart. -->
                        <button class="btn btn-danger text-warning" (click)="removeItem(cartItem.item.name)">X</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
            <div class="card bg-info">

                <!-- ##### Enter Shipping Details ##### -->

                <!-- rubric48 : The user should see a form labeled "Enter Shipping Details" that has text input fields for the users name,
                                address, city, and phone number. These input fields should have placeholders that show what they represent. -->
                <div class="row">
                    <div class="col text-center">
                        <h5>Enter Shipping Details</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-mutext text-center">
                        <!-- rubric52 : The form should show validation errors if the form isn't filled out
                                        correctly and the checkout button is pressed. -->
                        <form #CheckoutForm="ngForm" novalidate>
                            <input class="ng-pristine ng-invalid ng-touched" type="text" name="name" placeholder="Name"
                                [(ngModel)]="checkoutModel.name" required minlength="5" maxlength="50"
                                pattern="^[A-Za-z ]+$" />
                            <input class="ng-pristine ng-invalid ng-touched" type="text" name="address"
                                placeholder="Address" [(ngModel)]="checkoutModel.address" required minlength="5"
                                maxlength="50" />
                            <input class="ng-pristine ng-invalid ng-touched" type="text" name="city" placeholder="City"
                                [(ngModel)]="checkoutModel.city" required minlength="5" maxlength="50" />
                            <input class="ng-pristine ng-invalid ng-touched" type="text" name="phoneNumber"
                                placeholder="Phone (999-999-9999)" [(ngModel)]="checkoutModel.phoneNumber" required
                                minlength="12" maxlength="12" pattern="^\d{3}-\d{3}-\d{4}$" />
                        </form>
                    </div>
                </div>

                <!-- ##### Cart Summary ##### -->

                <!-- rubric49 : The user should see a section showing the subtotal cost of all the items in the shopping cart, the shipping cost,
                                the tax cost, and a total cost of all the items in the shipping cost. -->
                <div class="row">
                    <div class="col text-center">
                        <h5>Cart Summary</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right">
                        <h5>Subtotal :</h5>
                    </div>
                    <div class="col text-left">
                        <h5>${{subtotal | number:'1.2-2'}}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right">
                        <h5>Shipping :</h5>
                    </div>
                    <div class="col text-left">
                        <h5>FREE</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right">
                        <h5>Tax (10%) :</h5>
                    </div>
                    <div class="col text-left">
                        <h5>${{tax | number:'1.2-2'}}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right">
                        <h5>Total :</h5>
                    </div>
                    <div class="col text-left">
                        <h4>
                            <span class="bg-danger text-warning">
                                &nbsp;${{total | number:'1.2-2'}}&nbsp;
                            </span>
                        </h4>
                    </div>
                </div>

                <!-- ##### Checkout ##### -->

                <!-- rubric50 : The user should see a checkout button. -->
                <div class="row">
                    <div class="col text-center checkout">
                        <!-- rubric51 : The checkout button should create an alert based on the users shipping details and total cost. -->
                        <button class="btn btn-primary" [disabled]="!CheckoutForm.valid" data-toggle="modal"
                            data-target=".checkout-modal">Checkout</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- ##### Checkout Modal ##### -->

<!-- rubric51 : The checkout button should create an alert based on the users shipping details and total cost. -->
<div class="modal-bg">
    <div class="dialog">
        <div class="modal fade checkout-modal" focus-group focus-group-head="loop" focus-group-tail="loop"
            focus-stacktabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-info">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Shipping Details</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        NAME: {{checkoutModel.name}}<br />
                        ADDRESS: {{checkoutModel.address}}<br />
                        CITY: {{checkoutModel.city}}<br />
                        PHONE: {{checkoutModel.phoneNumber}}<br />
                        TOTAL: ${{total | number:'1.2-2'}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" focus-element="autofocus"
                            data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loadingBlock>Loading...</ng-template>