<section id="aboutAnimation">
    <div class="container-fluid bg-white overflow-hidden">
        <img class="move-right" src="assets/img/dog-with-cart.gif" alt="Dog with cart">
    </div>
    <div class="container-fluid default-theme-bgcolor4">
        Powered by Osc@rNET a.k.a. &Oacute;scar Fern&aacute;ndez Gonz&aacute;lez
    </div>
</section>

<section id="aboutUs">
    <div class="jumbotron bg-info">
        <h1>World Wide Importers</h1>
        <p>Welcome to DEV238x Front-End Web Developer Capstone.</p>
        <hr />
        <p>This site consists of a common layout with navigation, header, and footer sections to provide a common
            look and feel while offering a shopping experience that is easy to use and intuitive.</p>
        <p>
            <a class="btn btn-primary" target="_blank" href="https://github.com/OscarNET/OscarNET-DEV238x"
                role="button">Learn more (GitHub ~ Osc@rNET)</a>
        </p>
    </div>
</section>