<!-- rubric14 : The user shall see a controls bar -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4">
            <div class="tree-wrapper">
                <!-- rubric19 : The user shall see a category menu that displays all of the available shopping categories -->
                <app-store-tree [categories]="categories"
                    (selectedCategoryEventEmitter)="processSelectedCategory($event)"
                    (selectedSubcategoryEventEmitter)="processSelectedSubcategory($event)"></app-store-tree>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="row">
                <div class="col-xl-12">
                    <!-- rubric15 : The user shall see a section in the controls bar that displays the selected category name -->
                    <h2 *ngIf="selectedCategory && selectedSubcategory">{{selectedCategory.category}} /
                        {{selectedSubcategory.name}}
                    </h2>
                    <!-- rubric16 : The user shall see a section in the controls bar that displays the number of items shown
                                    out of the total number of items in the selected category -->
                    <h5 *ngIf="selectedCategory && selectedSubcategory && selectedSubcategory.items.length != 0">
                        ({{selectedSubcategory.items.length}} items)</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <!-- rubric20 : The user shall see a grid that is populated with the products of the selected category -->
                    <div *ngIf="selectedCategory && selectedSubcategory" class="card-columns">
                        <!-- rubric26 : Clicking on a subcategory should repopulate the grid of products with items from the subcategory that was just clicked -->
                        <div *ngFor="let item of selectedSubcategory.items" class="card bg-info">
                            <div class="card-body text-center">
                                <!-- rubric22 : Each grid cell shall have the price of the product displayed -->
                                <h4 class="bg-danger text-warning">${{item.price}}</h4>
                                <!-- rubric21 : Each grid cell shall have the name of the product displayed -->
                                <!-- rubric32 : If the user clicks on a product name within a grid cell, they should be taken to a product page
                                                that is populated with the details of the clicked product -->
                                <h6 class="card-text" (click)="displayProductDetail(item)">{{item.name}}</h6>
                            </div>
                            <!-- rubric23 : Each grid cell shall have an image of the product displayed -->
                            <!-- rubric31 : If the user clicks on a product image within a grid cell, they should be taken to a product page
                                            that is populated with the details of the clicked product -->
                            <img class="card-img d-block img-fluid" src="{{item.imagelink}}" alt="{{item.name}}"
                                (click)="displayProductDetail(item)" />
                            <!-- rubric24 : Each grid cell shall have a button labeled "Add" -->
                            <a class="btn btn-primary addToCart" href="#" role="button">Add</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>