<header>
  <!-- rubric68 : The header bar should always be at the top of the page -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark default-theme-bgcolor1">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" routerLink="/">
      World Wide Importers&nbsp;
      <i class="fas fa-cube"></i>
    </a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- rubric65 : User shall see a link to the home page -->
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <i class="fas fa-home"></i>
          Home
        </a>
        <!-- rubric66 : User shall see a link to the shopping page -->
        <a class="nav-item nav-link" routerLink="/shopping" routerLinkActive="active">
          <i class="fas fa-shopping-bag"></i>
          Shopping</a>
        <!-- rubric67 : User shall see a link to the cart page -->
        <a class="nav-item nav-link" routerLink="/cart" routerLinkActive="active">
          <i class="fas fa-shopping-cart"></i>
          Cart
        </a>
      </div>
    </div>

  </nav>
</header>